/**
 * app.css
 *
 * The entry point for the css.
 *
 */

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */

/**
 * We don't want these in the Control Panel
 * @import "tailwindcss/base";
 */

/**
 * This injects any component classes registered by plugins.
 *
 */
@import "tailwindcss/components";

/**
 * Here we add custom component classes; stuff we want loaded
 * *before* the utilities so that the utilities can still
 * override them.
 *
 */
@import "./components/global.css";
@import "./components/optimized-images-field.css";
@import "./components/typography.css";
@import "./components/webfonts.css";

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 */
@import "tailwindcss/utilities";

/**
 * Include styles for individual pages
 *
 */
@import "./pages/settings.css";
@import "./pages/welcome.css";

/**
 * Include vendor css.
 *
 */
@import "vendor.css";
