{% extends '_layouts/cp' %}
{% set title = 'Welcome to ImageOptimize!' %}

{% set linkGetStarted = url('settings/plugins/image-optimize') %}
{% set docsUrl = "https://github.com/nystudio107/craft-imageoptimize/blob/master/README.md" %}

{% do view.registerAssetBundle("nystudio107\\imageoptimize\\assetbundles\\imageoptimize\\ImageOptimizeAsset") %}
{% set baseAssetsUrl = view.getAssetManager().getPublishedUrl('@nystudio107/imageoptimize/assetbundles/imageoptimize/dist', true) %}

{% set crumbs = [
    { label: "ImageOptimize", url: url('image-optimize') },
    { label: "Welcome"|t, url: url('image-optimize/welcome') },
] %}

{% set content %}
    <div style="text-align:center; margin:0 auto; padding: 5% 10%;">
        <img src="{{ baseAssetsUrl ~ '/img/ImageOptimize-icon.svg' }}" width="30%" height="auto" />
        <h2>Thanks for using ImageOptimize!</h2>
		<p>ImageOptimize allows you to automatically create & optimize responsive image transforms from your Craft 3 assets. It works equally well with native Craft image transforms, and image services like <a href="https://imgix.com" target="_blank">Imgix</a>, with zero template changes.</p>

		<p>You use the native Craft UI/UX to create your image transforms, whether in the AdminCP or via your templates. ImageOptimize takes care of the rest, optimizing all of your image transforms automatically by running a variety of image optimization tools on them.</p>

		<p>ImageOptimize also comes with an <strong>OptimizedImages</strong> Field that makes creating responsive image sizes for <code>{{ '<img srcset="">' |escape }}</code> or <code>{{ '<picture>' |escape }}</code> elements sublimely easy. These responsive image transforms are created when an asset is <em>saved</em>, rather than at page load time, to ensure that frontend performance is optimal.</p>

		<p>Because ImageOptimize has already pre-generated and saved the URLs to your optimized image variants, no additional database requests are needed to fetch this information (unlike with Assets or Transforms).</p>
		<p>
        </p>
        <p>
            <a href="{{ linkGetStarted }}"><button class="btn submit">Get Started</button></a>
        </p>
    </div>
    <div style="text-align:center; margin:0 auto; padding: 0;">
        <p class="instructions">
            Brought to you by <a href="http://nystudio107.com" target="_blank">nystudio107</a>
        </p>
    </div>
{% endset %}