{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Image Optimize plugin for Craft CMS 3.x
 *
 * OptimizedImages Field Input
 *
 * @author    nystudio107
 * @copyright Copyright (c) 2017 nystudio107
 * @link      https://nystudio107.com
 * @package   ImageOptimize
 * @since     1.4.10
 */
#}

{% import "_includes/forms" as forms %}

<div class="field">
    <div class="heading">
        <label>{{ "OptimizedImages fields only work when added to an Asset Volume's layout." |t('image-optimize') }} </label>
    </div>
</div>
